* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9967A;
}

img {
    width: auto;
    text-align: center;
}

.recipe-card {
    width: 60em;    
    margin: 20px auto;
    padding: 50px;
    border: 5px solid black;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}