* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF4E6;
    font-family: Arial, sans-serif;
    color: #2D3436;
}

h1 {
    color: #E17055;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

}

h2 {
  color: #00B894;          
  border-bottom: 2px solid #FDCB6E;
  margin: 20px auto 10px;
}

img {
    width: 20em;
    margin: 10px auto 50px;
    display: block;
}

a {
  color: #0984E3;
}

ul, ol {
  list-style-position: inside
}


.recipe-card {
    width: 900px;    
    margin: 20px auto;
    padding: 24px;
    border: 3px solid #E0E0E0;
    background-color: #FFFFFF;
}